h1{
            width: 180px;
            padding-left: 12px;
            color: blue;
            border: 3px solid coral;
            text-shadow: 5px 5px 3px crimson;
            margin: 30px;
            background-attachment: fixed;
        }
        #h3g{
            color: white;
            text-shadow: 2px 3px 10px rgb(24, 220, 227);
            text-align: center;
        }
        #p1{
            color: black;
            text-shadow: 2px 3px 5px cornflowerblue;
            
        }
        #div1{

            text-shadow: 2px 3px 5px cornflowerblue;
            color: black;
            background-attachment: fixed;
    
        }
        button:hover{
           color: brown;
           background-color: yellow;
        }
        #div1 :hover{
            background-color: black;
            box-shadow: 2px 3px 5px 5px coral;
            color: aqua;
            text-align: center;
            font-family: cursive;
            
        }
        #p1:hover{
            background-color: black;
            box-shadow: 2px 3px 5px 5px coral;
            color: aqua;
            text-align: center;
            font-family: cursive;
            
        }
        h1:hover{
           background-image: url(bjp.jpg);
           background-size: cover;
           background-position: center;
           color: rgb(14, 13, 13);
        }

       
        #img1{
           width: 1000px;
           background-attachment: fixed;
        }
        .Box {
           
            position: relative;
            
        }
        h4{
            position: absolute;
            left: 400px;
            color: blue;
            font-family: cursive;
            
            
        }